@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

.navbar-brand{
    font-weight: 700;
    color: #009432 !important;
}

.navbar-brand .house{
    color: #f1c40f !important;
}

.navbar{
    background: #ecf1f4;
    padding: 20px 0 !important;
}
.navbar .nav-item{
    margin: 0;
    padding: 0;
}
.navbar .nav-item .nav-link{
    font-size: 15px;
    font-weight: 500;
    color: #636972 !important;
    margin: 0 15px;
    padding: 0;
    transition: all .4s ease-in-out;
}
.navbar .nav-item .nav-link:hover{
    color: #55bc7e !important;
}

.navbar .main-btn{
    background: #55bc7e !important;
    text-decoration: none;
    color: #fff !important;
    font-size: 15px;
    font-weight: 500;
    padding: 15px 45px;
    border-radius: 5px;
    display: inline-block;
    margin-left: 25px;
    transition: all .4s ease-in-out;
}
.navbar .main-btn:hover{
    background: #49A16c !important;
    color: #000 !important;

}


@media (max-width: 576px) { 
    .navbar-brand{
        font-weight: 700;
        color: #009432 !important;
    }
    
    .navbar-brand .house{
        color: #f1c40f !important;
    }
    
    .navbar{
        background: #ecf1f4;
        padding: 20px 0 !important;
    }
    .navbar .nav-item{
        margin: 0;
        padding: 0;
    }
    .navbar .nav-item .nav-link{
        font-size: 18px;
        font-weight: 500;
        color: #636972 !important;
        margin: 0 15px;
        padding: 5px;
        transition: all .4s ease-in-out;
    }
    .navbar .nav-item .nav-link:hover{
        color: #55bc7e !important;
    }
    
    .navbar .main-btn{
        background: #49A16c !important;
        color: #fff !important;
        margin: 12px 10px 5px 11px;
        width: 83%;
        text-align: center;
    }
    .navbar .main-btn:hover{
        background: #49A16c !important;
        color: #000 !important;
    
    }
 }